body{
  background-color: #f0f2f5 ;
}
.textcolor {
  text-align: center;
  color: #1c1e21;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  width: 500px;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  padding-left: 17%;
}
.logo {
  height: 100px;
  width: 500px;
  padding-top: 10%;
  padding-left: 10%;
}
.fromc{
  height: 400px;
  width: 400px;
  background-color: #fff;
  float:right;
  margin-right: 90px;
  margin-top: -200px;
  border-radius: 10px;
  border-width: 200px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form input {
  height: 50px;
  width: 380px;
  margin: 10px 0 3px 7px;
  border-radius: 10px;
  border: 2px solid #dddfe2;
  text-align: center;
  font-weight: bold;
}
.login {
  height: 50px;
  width: 350px;
  background-color: #1877f2;
  margin-top: 10px;
  font-weight: bold;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}
h5 {
  color: blue;
  font-weight: normal;
}
hr {
  width: 320px;
  color: #dadde1;
}
.register {
  height: 50px;
  width: 200px;
  background-color: #2b9217;
  border-color: #2b9217;
  border: none;
  border-radius: 11px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}